{% extends 'base.html' %}

{% block body %}
<div class="container my-4 text-light">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="featurette-heading">Isme Tera Ghata Mera Kuch Nahi Jaata,</h2>
            <h2><span class="text-muted text-white-50">Jyada Pyaar Ho Jata Toh Me Seh Nahi Pata</span></h2>
            <p class="lead">The day Gajendra Verma came to my college during the Inno'19, and I get to cover the event
                as a part of
                Third-Eye(The Photography Club of NITR).From "Milo naa tum" to "Mann Mera," it was a day well enjoyed.
            </p>
            <ul class="list-unstyled text-start">
                <li>Exif:
                    <ul>
                        <li>Canon EOS 77D</li>
                        <li>55mm,f/4.0</li>
                        <li>1/1000s</li>
                        <li>400ISO</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-5 ">
            <img src="/static/about1.JPG"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="360"
                height="400">
            </img>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2 ">
            <h2 class="featurette-heading">Can the cords and chilly nights,</h2>
            <h2><span class="text-muted "> Heal the darkness deep inside!!!</span></h2>

            <p class="lead">On a chilly night, get your camera, get accompanied by two friends, one being a
                photographer,
                second one guitarist, lay on the deserted road, capture the guitarist putting his guitar
                obviously not in position, get captured doing so. Could you show me a better night out? I'll wait.</p>
            <ul class="list-unstyled text-start">
                <li>Exif:
                    <ul>
                        <li>Canon EOS 80D</li>
                        <li>20mm,f/4.5</li>
                        <li>1/20s</li>
                        <li>1000ISO</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/static/about2.JPG"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="360"
                height="400">
            </img>

        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="featurette-heading">!a Binary tree,</h2>
            <h2><span class="text-muted "> !a Tree diagram</span></h2>
            <p class="lead">Days were simple when Tree wasn't supposed to mean Tree diagram or Binary Tree.</p>
            <ul class="list-unstyled text-start">
                <li>Exif:
                    <ul>
                        <li>OnePlus 6T</li>
                        <li>4.25mm,f/1.7</li>
                        <li>1/400s</li>
                        <li>100ISO</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-5 ">
            <img src="/static/about3.JPG"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                height="400">
            </img>

        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2 ">
            <h2 class="featurette-heading">The Sad Commutor</h2>
            <h2> <span class="text-muted"> See for yourself.</span></h2>
            <p class="lead">The benefit of having your college in a three-hour journey is " Bhai Chal Ghar Chalte He "
                every weekend.
                The color of the luggage on top of me was the same as of my shirt. So it was a picture captured
                through the luggage rack of the train.</p>
            <ul class="list-unstyled text-start">
                <li>Exif:
                    <ul>
                        <li>OnePlus 6T</li>
                        <li>4.25mm,f/1.7</li>
                        <li>1/60s</li>
                        <li>400ISO</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/static/about4.JPG"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="360"
                height="450">
            </img>

        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="featurette-heading">Aother quarantine idea?</h2>
            <h2><span class="text-muted "> Spring and pattens!!!</span></h2>
            <p class="lead">Trying to get some ideas? Look into any social media app or call GURU. Either will fill you
                with genius ideas. So it was captured with a phone underneath a spring splashed with a couple of drops
                of water.</p>
            <ul class="list-unstyled text-start">
                <li>Exif:
                    <ul>
                        <li>OnePlus 6T</li>
                        <li>4.25mm,f/1.7</li>
                        <li>1/50s</li>
                        <li>320ISO</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-5 ">
            <img src="/static/about5.jpg"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="380"
                height="450">
            </img>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<footer class="container-fluid text-center bg-dark text-light">
    <p class="float-end"><a href="/about">Back to top</a></p>
    <p>© Copyright 2021–2022 Hey-Rum-Ba, Pic. · <a href="/privacy">Privacy</a> · <a href="/terms">Terms</a></p>
</footer>
{% endblock body %}